/* Styles for the layout and shell */
@import url('https://fonts.googleapis.com/css2?family=Thasadith:wght@400;700&display=swap');


body {
  font-family: 'Thasadith', -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell,
    Helvetica Neue;
  font-size: 16px;
  background-color: hsl(210, 51%, 97%);
  color: hsl(209, 15%, 28%);
  margin: 0px;
  /* color: hsl(208, 12%, 58%); */
  background: linear-gradient(
    0deg,
    rgba(0, 114, 255, 0.2),
    rgba(0, 198, 255, 0.2)
  );
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;;
}
.heading {
  display: flex;
  justify-content: center;
}

h1 {
  margin-top: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 300;
  font-size: 2em;
  color: hsl(206, 8%, 42%);
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 300;
}

ul {
  margin-top: 0;
  padding-inline-start: 16px;
  list-style-type: none;
}

/* Buttons! Buttons! Buttons! */

button {
  margin: 5px;
  max-width: 160px;
  padding: 4px;

  color: hsl(206, 8%, 42%);
  background-color: hsl(206, 38%, 97%);
  border-radius: 5px;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
  border: none;

  &:focus {
    outline: none;
  }
  &:hover {
    background-color: hsl(209, 70%, 91%);
  }
  &:disabled {
    background-color: rgba(239, 239, 239, 0.3);
    color: rgba(16, 16, 16, 0.3);
    border-color: rgba(118, 118, 118, 0.3);
  }
}

/* Extra fun things */

/* Thanks go to http://tholman.com/github-corners/ */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
