body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray
}
#game {
    display: flex;
}
.center-game {
    width: 680px;
    border: 1px solid black;
}

#deck {
    height: 20px;
    width: 20px;
    border: 1px dashed lightblue;
}

#currentCard {
    border: 1px dashed lightseagreen;
    font-size: 6em;
}

#grid {
    display: flex;
    width: 560px;
    height: 560px;
    flex-wrap: wrap;
}
.cardSpot {
    display: block;
    height: 100px;
    width: 100px;
    border: 1px dashed grey;
    margin: 5px;
    font-size: 90px;
    text-align: center;
}

.red {
    color: rgb(126, 27, 175);
}
.black {
    color: #222;
}