body {
    background-color: lightgray
}
.heading {
    display: flex;
    justify-content: center;
}
#game {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 80px;
}

#game p {
    cursor: default;

}
.left-bar {
    flex-basis: 120px;
    margin-right: 20px;
}

#deck {
    cursor: default;
    font-size: .8em;
}

#currentCard {
    cursor: default;
}

#deck img {
    width: 5vw;
}
#currentCard img {
    width: 5vw;
}
.cardSpot img {
    width: 5vw;
}

.row {
    display: flex;
}
.cardSpot {
    margin: 2px;
    flex: 1 0 auto;
    position: relative;
    /* border: 1px dashed grey; */
    text-align: center;
    cursor: not-allowed;
}

#spot0.cardSpot, #spot4.cardSpot, #spot20.cardSpot, #spot24.cardSpot {
    opacity: 0;
}
.cardSpot:after {
    content: "";
    float:left;
    display: block;
    padding-top: 100%;
}
.cardSpot .inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardSpot.legal {
    cursor: pointer;
}


.cardSpot.legal:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(147, 213, 235, 0.341);
    background-size: 100% 100%;
}

.cardSpot.targetted:before {
    content: "";
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    background-color: rgba(151, 44, 124, 0.341);
    background-size: 100% 100%;
}

.cardSpot.faded img{
    opacity: 0.1;
}

.red {
    color: rgb(126, 27, 175);
}
.black {
    color: #222;
}

#hint {
    opacity: 0.6;
    text-align: center;
}

.badge {
    background: #cccccc;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 2px;
    margin-top: 2px;
    right: 0px;
    top: 0px;
    position: absolute;
    text-align: center;
    width: 1.6em; 
}


/* Thanks go to http://tholman.com/github-corners/ */
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
  
  @keyframes octocat-wave {
    0%,
    100% {
      transform: rotate(0)
    }
    20%,
    60% {
      transform: rotate(-25deg)
    }
    40%,
    80% {
      transform: rotate(10deg)
    }
  }
  
  @media (max-width:500px) {
    .github-corner:hover .octo-arm {
      animation: none
    }
    .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out
    }
  }
  